footer {
    text-align: center;
    color: #ffffff;
    height: 100%;
    background-color: #2d2f31;
}

.text-container {
    padding-top: 2em;
}

.heart-container {
    animation: heartbeat 1s infinite;
    color: red;
    display: inline-block;
}

@keyframes heartbeat {
    0% {
        transform: scale(0.75);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(0.75);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(0.75);
    }
}
