<div class="container">
    <mat-form-field *ngIf="dataSource.data.length">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="mat-elevation-z3" *ngIf="dataSource.data.length">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button matTooltip="Complete Task" matTooltipPosition="left"
                        (click)="completeTask()" class="complete-btn">
                        <mat-icon class="radio-icon">radio_button_unchecked</mat-icon>
                        <mat-icon class="check-icon">check</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Task Column -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="title-column"> Task </th>
                <td mat-cell *matCellDef="let row">
                    {{row.title}}
                    <br>
                    <span class="description">{{row.description}}</span>
                </td>
            </ng-container>

            <!-- Category Column -->
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                <td mat-cell *matCellDef="let row">
                    <span *ngIf="row.category === 'Home'" class="category-container"
                        style="background-color:cornflowerblue">{{row.category}}</span>
                    <span *ngIf="row.category === 'Work'" class="category-container"
                        style="background-color:goldenrod">{{row.category}}</span>
                    <span *ngIf="row.category === 'Personal'" class="category-container"
                        style="background-color:mediumseagreen">{{row.category}}</span>
                </td>
            </ng-container>

            <!-- Due Date Column -->
            <ng-container matColumnDef="dueDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </th>
                <td mat-cell *matCellDef="let row"> {{row.dueDate}} </td>
            </ng-container>

            <!-- Edit Column -->
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <button mat-icon-button matTooltip="Edit Task" matTooltipPosition="right"
                        (click)="updateTask(row.id)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>

    <div class="no-records-container" *ngIf="!dataSource.data.length">
        <h2>Looks like you're all caught up!</h2>
        <mat-icon>sentiment_satisfied_alt</mat-icon>
    </div>

</div>
