.container {
    width: 80%;
    margin: 0 auto;
}

table {
    width: 100%;
}

tr {
    transition: 0.2s linear;
}

tr:hover {
    background-color: #eeeeee;
}

.title-column {
    width: 325px;
}

.description {
    color: grey;
    font-size: 11px;
}

.check-icon {
    margin-left: 8px;
}

.complete-btn .check-icon {
    display: none;
}

.complete-btn:hover .radio-icon,
.complete-btn:active .radio-icon {
    display: none;
}

.complete-btn:hover .check-icon,
.complete-btn:active .check-icon {
    display: block;
}

.category-container {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    color: white;
}
