h1 {
    text-align: center;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 49%;
}

.submit-btn {
    width: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.delete-container {
    position: absolute;
    right: 15px;
    top: 15px;
}
