<h1>
    <span *ngIf="data.id">Edit</span>
    <span *ngIf="!data.id">Add</span>
    Task
</h1>

<div *ngIf="data.id" class="delete-container">
    <button mat-icon-button matTooltip="Delete Task" (click)="deleteTask()">
        <mat-icon>delete</mat-icon>
    </button>
</div>


<form [formGroup]="taskDetailsForm" (ngSubmit)="submitForm()" *ngIf="taskDetailsForm">
    <mat-form-field class="full-width">
        <input matInput placeholder="Title" #title maxlength="100" formControlName="title" type="text">
        <mat-hint align="end">{{title.value?.length || 0}}/100</mat-hint>
    </mat-form-field>
    <br>

    <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput cdkTextareaAutosize #description
            #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" maxlength="255"></textarea>
        <mat-hint align="end">{{description.value?.length || 0}}/255</mat-hint>
    </mat-form-field>
    <br>

    <mat-form-field class="half-width">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
            <mat-option>None</mat-option>
            <mat-option value="Home">Home</mat-option>
            <mat-option value="Work">Work</mat-option>
            <mat-option value="Personal">Personal</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="half-width">
        <input matInput [matDatepicker]="picker" formControlName="dueDate" placeholder="Due Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-flat-button type="submit" color="primary" class="submit-btn">
        <span *ngIf="data.id">Update</span>
        <span *ngIf="!data.id">Add</span>
    </button>
</form>
